* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
	height: 100%;
	background-color: #fefefe;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
}

a {
	text-decoration: none;
	color: #2c2c2c;
}

#cubeTransition {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
}

#cubeTransition div {
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/* font-size: 5em; */
	color: #fff;
	display: none;
}

#cubeTransition h2 {
	position: relative;
	top: 20px;
	margin: 0;
	font-size: 1.5em;
	text-align: center;
	text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.1);
}

.visible {
	display: block !important;
}

.page1 {
	background: #89b32f;
}

.page2 {
	background: #dc6c5f;
}

.page3 {
	background: #64b9d2;
}

.slider-container {
	display: grid;
	grid-template-areas: "siteimg siteimg prev next" "siteimg siteimg blurb blurb" "siteimg siteimg blurb blurb" "siteimg siteimg link link";
	grid-gap: 20px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	width: 80%;
	max-width: 1200px;
	padding-top: 90px;
	/* background: green; */
	/* border: solid 10px #2c2c2c; */
}

.site-img {
	grid-area: siteimg;
}

.site-img img {
	width: 100%;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.btn {
	font-size: 1rem;
	display: grid;
	align-items: center;
	justify-items: center;
	align-content: center;
	padding: 10px 0;
	border: 2px solid #2c2c2c;
}

.slide-change-btn a {
	font-size: 1rem;
	display: block;
}

.prev {
	grid-area: prev;
}

.next {
	grid-area: next
}

.site-link {
	grid-area: link;
	border: #2c2c2c solid 2px;
	border-right: 0;
	border-left: 0;
}

.blurb {
	grid-area: blurb;
	display: grid;
	grid-template-areas: "title title title" "blurb blurb blurb" "blurb blurb blurb";
}

.title {
	grid-area: title;
	text-align: center;
	border-top: 2px white solid;
	border-bottom: 2px white solid;
	padding: .5rem 0;
	font-size: 1.2rem;
}

.blurb-write-up .blurb-body {
	grid-area: blurb;
	padding: .2rem;
}

.contact-info {
	padding-top: 90px;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	font-size: 2.4rem;
}

.contact-info a {
	margin-top: 100px;
	display: block;
}

.contact-info .btn {
	max-width: 350px;
	margin: 100px auto;
}

.rotateCubeTopOut {
	transform-origin: 50% 100%;
	animation: rotateCubeTopOut .6s ease-in;
}

.rotateCubeTopIn {
	transform-origin: 50% 0%;
	animation: rotateCubeTopIn .6s ease-in;
}

.rotateCubeBottomOut {
	transform-origin: 50% 0%;
	animation: rotateCubeBottomOut .6s ease-in;
}

.rotateCubeBottomIn {
	transform-origin: 50% 100%;
	animation: rotateCubeBottomIn .6s ease-in;
}

@keyframes rotateCubeTopOut {
	50% {
		animation-timing-function: ease-out;
		transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
	100% {
		transform: translateY(-100%) translateZ(0) rotateX(90deg);
	}
}

@keyframes rotateCubeTopIn {
	0% {
		transform: translateY(100%) translateZ(0) rotateX(-90deg);
	}
	50% {
		animation-timing-function: ease-out;
		transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
	}
}

@keyframes rotateCubeBottomOut {
	50% {
		animation-timing-function: ease-out;
		transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
	}
	100% {
		transform: translateY(100%) translateZ(0) rotateX(-90deg);
	}
}

@keyframes rotateCubeBottomIn {
	0% {
		transform: translateY(-100%) translateZ(0) rotateX(90deg);
	}
	50% {
		animation-timing-function: ease-out;
		transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
}

@media screen and (max-width: 500px) {
	body {
		font-size: 10px;
	}
	#cubeTransition h2 {
		font-size: 1em;
	}
}

:root {
	font-size: 18px;
}

/* Screen Reader Styling */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* Button Styling */

.menu-toggle {
	display: inline-block;
	padding: .75em 20px;
	line-height: 1em;
	font-size: 1em;
	color: #333;
	padding-top: 5px
}

.menu-toggle:hover,
.menu-toggle:focus {
	color: #48c2c5;
	outline: 0;
}

/* Navigation */

.main-menu {
	position: absolute;
	left: -200px;
	top: 0;
	height: 100%;
	overflow-y: hidden;
	overflow-x: visible;
	transition: left 0.3s ease, box-shadow 0.3s ease;
	z-index: 999;
}

.main-menu ul {
	list-style: none;
	margin: 0;
	padding: 2.5em 0 0;
	/* Hide shadow w/ -8px while 'closed' */
	-webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
	-moz-box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
	box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
	min-height: 100%;
	width: 200px;
	background: #1a1a1a;
}

.main-menu a {
	display: block;
	padding: .75em 15px;
	line-height: 1em;
	font-size: 1em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
	border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
	background: #333;
	text-decoration: underline;
}

.main-menu .menu-close {
	position: absolute;
	right: 0;
	top: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

header {
	padding: 20px;
	padding-left: 0;
	display: grid;
	align-items: start;
	grid-template-columns: 40px 1fr;
}

article {
	padding: 30px;
	width: 55em;
	font-size: .8em;
	line-height: 1.5em;
}

article h2 {
	font-weight: 500;
	font-size: 1.5em;
}

.logo {
	width: 2%;
}

/* On Small devices allow it to toggle */

/* target for non-JavaScript  aria-expanded="true/false" will be for Javascript */

.main-menu:target,
.main-menu[aria-expanded="true"] {
	left: 0;
	outline: none;
	-moz-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
	box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
	z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
	position: relative;
	z-index: 1000;
}

.main-menu:target+.backdrop,
.main-menu[aria-expanded="true"]+.backdrop {
	position: absolute;
	display: block;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	background: #000;
	background: rgba(0, 0, 0, .85);
	cursor: default;
}

.about-container {
	width: 80% !important;
	margin: 0 auto;
	margin-top: 30%;
	display: block !important;
}

.typewriter {
	margin-top: 15rem;
	margin-left: 3rem;
	margin-bottom: 1rem;
	font-family: 'Courier New', Courier, monospace;
	width: 90%;
	display: block;
	font-size: 1rem;
}

.typewriter .underline {
	text-decoration: underline;
	text-decoration-color: #333333;
}

.typewriter p {
	font-size: 2rem;
	width: 60%;
	margin-bottom: 1rem;
}

.intro-paragraph {
	font-size: 2rem;
	width: 80%;
	margin-left: 3rem;
}

@supports (position: fixed) {
	.main-menu,
	.main-menu:target+.backdrop,
	.main-menu[aria-expanded="true"]+.backdrop {
		position: fixed;
	}
}

@media screen and (max-width: 1050px) {
	.logo {
		width: 5%;
	}
	.slider-container {
		grid-template-areas: "siteimg siteimg" "siteimg siteimg" "prev next" "blurb blurb" "blurb blurb" "link link";
		padding-top: 10px;
		grid-gap: 10px;
	}
	.btn {
		font-size: .7rem;
		;
	}
	.contact-info {
		width: 80%;
		font-size: 1.3rem;
	}
	.contact-info a {
		margin-top: 50px;
	}
}

@media screen and (max-width: 400px) {
	.logo {
		width: 10%;
	}
	.typewriter {
		width: 80%;
	}
	.about-container .typewriter p {
		margin-left: 0;
	}
	.about-container {
		width: 80% !important;
		margin: 0 auto;
		font-size: 1rem;
		text-align: left;
	}
	.about-container .typewriter {
		font-size: 1rem;
		margin-top: 1rem;
		margin-left: .7rem;
		margin-right: .7rem;
	}
	.about-container p {
		margin-left: .7rem;
		font-size: .7rem;
		width: 80%;
	}
	.slider-container {
		grid-template-areas: "siteimg siteimg" "siteimg siteimg" "prev next" "blurb blurb" "blurb blurb" "link link";
		margin-top: 0;
		padding-top: 10px;
		grid-gap: 10px;
	}
	.blurb-write-up {
		grid-template-areas: "title blurb blurb" "title blurb blurb" "title blurb blurb";
	}
	.blurb-write-up .title {
		font-size: 1rem;
	}
	.blurb-write-up .blurb-body {
		font-size: .7rem;
	}
	.btn {
		font-size: .7rem;
		;
	}
	.contact-info {
		width: 80%;
		font-size: 1.3rem;
	}
	.contact-info a {
		margin-top: 50px;
		font-size: 1rem;
	}
}